/* List || TodoList examples */
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main_div {
  width: 100%;
  height: 100vh;
  background-color: dimgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.center_div {
  width: 37%;
  background-color: #ffff;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
h1 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 35px;
  margin-bottom: 30px;
  min-width: 64px;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
input {
  text-align: center;
  height: 30px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
  margin-right: 20px;
}
.newBtn {
  width: 50px;
  height: 45px;
  background-color: #8566aa !important;
  color: white !important;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border-radius: 50% !important;
}
.newBtn:hover {
  color: #8566aa !important;
  background: white !important;
}
.MuiSvgIcon-root {
  width: 2rem !important;
  height: 2rem !important;
}
ol {
  margin-top: 30px;
}
ol li {
  padding-left: 14px;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
  list-style: none;
}
.todo_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.deleteIcon {
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  background-color: #8566aa;
  border-radius: 50%;
  padding: 5px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.deleteIcon:hover {
  background-color: transparent;
  color: crimson;
  box-shadow: 5px 5px 15px -5px rgba(255, 0, 0, 0.5);
}
.todo_style.fa-time:hover .list_style {
  color: crimson;
}
button {
  min-height: 40px;
  border-radius: 5%;
  border-color: transparent;
  background-color: #30336b;
  color: #ffff;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 0 15px;
  margin-top: 30px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
button:hover {
  background-color: #22a6b3;
}
.btn_green:hover {
  color: #2ed573;
}
.btn_red:hover {
  color: #ff4747;
}
.btn_div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom:10px;
}
.btn_blue:hover {
  color:darkorange;
} */

/* Login */

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}
.main_container {
  width: 100%;
  height: 100vh;
  background-color: dimgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.from_container {
  position: relative;
  top: 40px;
  bottom: 40px;
  transform: translateY(-3%);
}
.input {
  width: 75%;
}
h1 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 35px;
  margin-bottom: 30px;
  min-width: 64px;
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.input_2 {
  margin-bottom: 10px;
  margin-top: 7px;
}
.ListContainer {
  margin-top: 60px;
}
.ListStyle {
  font-weight: 800;
  letter-spacing: 2px;
  color: black;
  border-radius: 6px;
  box-shadow: 1px 1px 2px black;
  padding: 10px;
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
} */

/* Task examples */

/* body {
  background-color: lightslategray;
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}
h1 {
  font-family: "Pacifico", cursive;
  background-color: cornsilk;
  border-radius: 20px;
  padding: 20px 20px;
  color: dodgerblue;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
span {
  color: #eb6383;
} */

/* Card Examples */
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
}
.heading_style {
  padding: 30px 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.3);
}
.cards {
  width: 100%;
  height: auto;
}
.card {
  margin: 6%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}
.card_img {
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card_info {
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
  background-color: #ffff;
}
.card_category {
  font-family:"math";
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
}
.card_title {
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #ffff;
  text-transform: capitalize;
}
button {
  padding: 5px 8px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #ffff;
  background-color: cadetblue;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 6px;
} */

/* slot game  */
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */
/* .heading_style {
  padding: 30px 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.3);
}
.slotmachine {
  margin-left: 23rem;
  margin-top: 8rem;
  align-items: center;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #d2dbdd;
  width: 20rem;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
.slot_inner {
  text-align: center;
}

.slotmachine:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
} */

/* Form examples */
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "math";
  background: url("https://images.pexels.com/photos/3120135/pexels-photo-3120135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_div {
  max-width: 350px !important;
  width: 84%;
  border-radius: 9px;
  opacity: 0.9;
  margin-top: 12rem;
  margin-bottom: 40px;
  padding: 10px 26px;
}
.heading {
  text-align: center;
  font-size: 33px;
  font-weight: bold;
  color: #063b37;
  padding-top: 7px;
  margin-bottom: 24px;
}
form {
  padding: 10px 16px;
}
.from_container {
  width: 100%;
}
input {
  display: block;
  width: 20rem;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(44, 122, 103);
}
.submit_btn {
  display: block;
  width: 100%;
  border-radius: 5rem;
  padding: 12px 15px;
  margin-top: 17px;
  background: #063b37;
  color: rgb(184, 251, 253);
  border: none;
}
.validation-errors {
  font-size: 0.8em;
  color: red;
  line-height: 1;
  margin-top: 0;
} */

/* axois examples */
.grid {
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
}
.card {
  padding: 2em;
  border: 1px solid #888;
}
.read-the-doc {
  color: #888;
}
